@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 43% 94%;
    --foreground: 224 71% 4%;
    --card: 180 43% 98%;
    --card-foreground: 224 71% 4%;
    --popover: 180 43% 98%;
    --popover-foreground: 224 71% 4%;
    --primary: 181 44% 43%;
    --primary-foreground: 180 43% 98%;
    --secondary: 180 20% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 180 20% 88%;
    --muted-foreground: 180 5% 45%;
    --accent: 42 100% 50%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 181 20% 80%;
    --input: 181 20% 88%;
    --ring: 181 44% 43%;
    --chart-1: 181 44% 43%;
    --chart-2: 42 100% 50%;
    --chart-3: 0 84.2% 60.2%;
    --chart-4: 210 40% 96.1%;
    --chart-5: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 180 43% 94%;
    --card: 224 71% 4%;
    --card-foreground: 180 43% 94%;
    --popover: 224 71% 4%;
    --popover-foreground: 180 43% 94%;
    --primary: 181 44% 43%;
    --primary-foreground: 180 43% 98%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 180 43% 94%;
    --muted: 224 71% 10%;
    --muted-foreground: 180 5% 63%;
    --accent: 42 100% 50%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 181 44% 43%;
    --chart-1: 181 44% 43%;
    --chart-2: 42 100% 50%;
    --chart-3: 0 84.2% 60.2%;
    --chart-4: 210 40% 96.1%;
    --chart-5: 142.1 76.2% 36.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
